<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        {{ message }}<br/>
        <span v-bind:title="loadInfo" >鼠标悬停显示此处动态绑定的提示信息</span>

        <p v-if="seen">你是否能看到我显示出来了?</p>
        <div>
            <input type="text" v-model="iputMsg" /><br>
            <button v-on:click="reservrInput">逆转输入的字符串</button>
        </div>        
    </div>   
</body>
<script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        loadInfo:'页面加载于'+new Date().toLocaleString(),
        seen: true,
        iputMsg:''
      },
      methods:{
        reservrInput:function(){
            this.iputMsg = this.iputMsg.split('').reverse().join('');
        }
      }            
    })
  </script>
</html>